
* {
    font-family: "Times New Roman";
  }
  
  input {
    padding: 8px;
    margin: 5px;
  }
  
  #error {
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  